<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ITIS.DreamTreeSharer.dao.PinboardsDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ITIS.DreamTreeSharer.entity.PinboardsEntity">
        <id column="pinboard_id" property="pinboardId"/>
        <result column="pinboard_title" property="pinboardTitle"/>
        <result column="pinboard_content" property="pinboardContent"/>
        <result column="pinboard_create_time" property="pinboardCreateTime"/>
        <result column="pinboard_bgimg_url" property="pinboardBgimgUrl"/>
        <result column="pinboard_type" property="pinboardType"/>
        <result column="pinboard_sharable" property="pinboardSharable"/>
        <result column="like_num" property="likeNum"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        pinboard_id
        , pinboard_title, pinboard_content, pinboard_create_time, pinboard_bgimg_url, pinboard_type, pinboard_sharable, like_num
    </sql>

    <!--
    [Mybatis 查询返回List<String>集合](https://blog.csdn.net/sotong006/article/details/81697814)
    [MYSQL查询结果作为另外条件的数据_sql中引用一个表的查询结果作为条件来查询另一个表如何实现？](https://blog.csdn.net/weixin_39964819/article/details/113303605)
     -->
    <select id="getPinboardsByuserId" resultType="com.ITIS.DreamTreeSharer.entity.PinboardsEntity">
        --         SELECT pin.pinboard_title,pin.pinboard_content,pin.pinboard_bgimg_url,pin.pinboard_sharable
        SELECT *
        FROM pinboards AS pin
        WHERE pin.pinboard_id
                  IN (SELECT up.pinboard_id FROM users_pinboards AS up WHERE up.user_id = #{userId})
    </select>
    <!--
    [MySQL 如何删除有外键约束的表数据](https://blog.csdn.net/CSDN_Mr_H/article/details/90317043#:~:text=%E4%B8%BB%E8%A6%81%E4%BB%8B%E7%BB%8D%E4%BA%86MySQL%E5%88%A0%E9%99%A4,%E9%9C%80%E8%A6%81%E7%9A%84%E6%9C%8B%E5%8F%8B%E5%8F%AF%E4%BB%A5%E5%8F%82%E8%80%83%E3%80%82&text=1.%E6%98%BE%E7%8E%B0%E8%A6%81%E5%88%A0%E9%99%A4%E7%9A%84,%3B%203.%E5%88%A0%E9%99%A4%E5%8D%B3%E5%8F%AF%E3%80%82)
    [MySQL多表同时删除方案](https://www.kancloud.cn/curder/mysql/355257)
    [MyBatisplus一次执行多条SQL语句,一个标签多条SQL](https://blog.csdn.net/aiyowei1106/article/details/85759590)
    [使用Mybatis-plus 的 delete 操作返回值一直是0](使用Mybatis-plus 的 delete 操作返回值一直是0)
    [mybatis-plus 执行有外键约束的多表删除后返回值总是为 0](待解决)
    ============================================================
    删除一个 pinboard，需要连带删除 users_pinboards,users_pinboards_comments,users_pinboards_favorites 中的记录
    ============================================================
    设置级联删除，则不需要写那么麻烦，可参考
    [Navicat for mysql 设置级联](https://blog.csdn.net/ljmin0204/article/details/7662504)
    [MySql级联删除和更新](https://blog.csdn.net/doupei2006/article/details/7949077)
    [MySQL多表同时删除方案](https://www.kancloud.cn/curder/mysql/355257)
    -->
    <delete id="deletePinboardById">
        <!--        SET FOREIGN_KEY_CHECKS = 0;-->
        <!--        DELETE pin.*,up.*,upc.*,upf.*-->
        <!--        FROM users_pinboards AS up-->
        <!--        INNER JOIN pinboards as pin-->
        <!--        ON up.pinboard_id=pin.pinboard_id-->
        <!--        INNER JOIN users_pinboards_comments as upc-->
        <!--        ON up.pinboard_id=upc.pinboard_id-->
        <!--        INNER JOIN users_pinboards_favorites as upf-->
        <!--        ON up.pinboard_id=upf.pinboard_id-->
        <!--        <if test="userId!=null and ''!=userId">-->
        <!--            AND up.user_id=#{userId}-->
        <!--        </if>-->
        <!--        AND pin.pinboard_id=#{pinId};-->
        <!--        SET FOREIGN_KEY_CHECKS = 1;-->
        DELETE pin.* FROM pinboards AS pin WHERE pin.pinboard_id=#{pinId}
    </delete>

    <!--    [SQL 三表联查](https://blog.csdn.net/qq_34068082/article/details/79974100) -->
    <select id="getSharablePins" resultType="com.ITIS.DreamTreeSharer.model.UPModel">
        SELECT u.user_id, u.user_username, u.user_avatar_url, pin.*, fc.favoriteNum
        FROM (
                 SELECT up.user_id, up.pinboard_id, upf.favoriteNum
                 FROM users_pinboards AS up
                          LEFT JOIN (
                     SELECT pinboard_id, count(*) AS favoriteNum
                     FROM users_pinboards_favorites
                     GROUP BY pinboard_id
                 ) AS upf ON up.pinboard_id = upf.pinboard_id
             ) AS fc
                 INNER JOIN pinboards AS pin ON fc.pinboard_id = pin.pinboard_id
                 INNER JOIN users AS u ON u.user_id = fc.user_id
        WHERE pin.pinboard_sharable = 1
    </select>
    <!--    管理员得到所有的 pin 以及创建者名字 -->
    <select id="getAllPin" resultType="com.ITIS.DreamTreeSharer.model.UPModel">
        SELECT u.user_username, pin.*, fc.favoriteNum
        FROM (
                 SELECT up.user_id, up.pinboard_id, upf.favoriteNum
                 FROM users_pinboards AS up
                          LEFT JOIN (
                     SELECT pinboard_id, count(*) AS favoriteNum
                     FROM users_pinboards_favorites
                     GROUP BY pinboard_id
                 ) AS upf ON up.pinboard_id = upf.pinboard_id
             ) AS fc
                 INNER JOIN pinboards AS pin ON fc.pinboard_id = pin.pinboard_id
                 INNER JOIN users AS u ON u.user_id = fc.user_id
            LIMIT #{size} OFFSET #{currentPage}
    </select>
    <select id="getAllPinCount" resultType="java.lang.Integer">
        SELECT count(*)
        FROM (
                 SELECT up.user_id, up.pinboard_id, upf.favoriteNum
                 FROM users_pinboards AS up
                          LEFT JOIN (
                     SELECT pinboard_id, count(*) AS favoriteNum
                     FROM users_pinboards_favorites
                     GROUP BY pinboard_id
                 ) AS upf ON up.pinboard_id = upf.pinboard_id
             ) AS fc
                 INNER JOIN pinboards AS pin ON fc.pinboard_id = pin.pinboard_id
                 INNER JOIN users AS u ON u.user_id = fc.user_id
    </select>
</mapper>
