<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ITIS.DreamTreeSharer.dao.UsersPinboardsCommentsDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ITIS.DreamTreeSharer.entity.UsersPinboardsCommentsEntity">
        <id column="upc_id" property="upcId" />
        <result column="user_id" property="userId" />
        <result column="pinboard_id" property="pinboardId" />
        <result column="comment" property="comment" />
        <result column="like_num" property="likeNum" />
        <result column="up_create_time" property="upCreateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        upc_id, user_id, pinboard_id, comment, like_num, up_create_time
    </sql>
<!--
[使用 Mybatis-plus 进行 crud 操作](https://www.lagou.com/lgeduarticle/18471.html)
[mybatis mapper.xml中获取model属性值 & mybatis模糊查询 & mybatis动态查询](https://blog.csdn.net/weixin_38570967/article/details/80455601)
[SQL INSERT INTO Statement](https://www.w3schools.com/sql/sql_insert.asp)
[Mybatis的mapper.xml文件中插入数据返回自增主键](https://blog.csdn.net/zhuzhezhuzhe1/article/details/83038777)
[关于Mybatis的mapper.xml文件中从pojo获取属性值的问题](https://www.jianshu.com/p/9050dab462ea?utm_campaign=maleskine&utm_content=note&utm_medium=seo_notes&utm_source=recommendation)
-->
    <insert id="addOneComment" useGeneratedKeys="true" keyProperty="commentModel.commentId">
        INSERT INTO users_pinboards_comments(user_id,pinboard_id,comment,like_num,up_create_time)
        VALUES(#{userId},#{commentModel.pinboardId},#{commentModel.content},#{commentModel.likeNum},#{commentModel.date})
    </insert>

<!--
[MyBatis-Plus 分页查询以及自定义sql分页](https://blog.csdn.net/weixin_38111957/article/details/91554108)
[廖雪峰的官方网站-分页查询](https://www.liaoxuefeng.com/wiki/1177760294764384/1217864791925600)
-->
    <select id="getComments" resultType="com.ITIS.DreamTreeSharer.model.CommentModel">
        SELECT
        upc.upc_id AS commentId,
        upc.pinboard_id AS pinboardId,
        upc.up_create_time AS date,
        upc.`comment` AS content,
        upc.like_num AS likeNum,
        u.user_avatar_url AS fromAvatar,
        u.user_username AS fromName
        FROM users as u
        INNER JOIN users_pinboards_comments AS upc
        ON u.user_id=upc.user_id
        WHERE upc.pinboard_id=#{pinId}
        ORDER BY upc.up_create_time
        LIMIT #{limit} OFFSET #{offset}
    </select>
<!--
users(创建者) pinboards(梦卡) users(评论者) users_pinboards_comments(评论内容，评论时间)
谁对谁创建的 pin 进行了哪些 评论（集合）以及评论时间
-->
    <select id="getAllComment" resultType="com.ITIS.DreamTreeSharer.model.UPCModel">
        SELECT
        u2.user_username AS comment_author,
        u1.user_username AS pin_author,
        pin.pinboard_title,
        pin.pinboard_content,
        pin.pinboard_bgimg_url,
        cc.`comment`,
        cc.up_create_time,
        cc.like_num
        FROM(
        SELECT up.user_id AS pin_author,
        upc.user_id AS comment_author,
        upc.pinboard_id,
        upc.`comment`,
        upc.up_create_time,
        upc.like_num
        FROM users_pinboards AS up
        INNER JOIN users_pinboards_comments AS upc ON up.pinboard_id=upc.pinboard_id) as cc
        INNER JOIN users AS u1 ON u1.user_id=cc.pin_author
        INNER JOIN users AS u2 ON u2.user_id=cc.comment_author
        INNER JOIN pinboards AS pin ON pin.pinboard_id=cc.pinboard_id
    </select>
</mapper>
